@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#nameColor {
  color: #27aae0;
}
#menu-0 .mbr-brand__name a {
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
}
#header4-k H1 {
  text-align: center;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.075em;
	text-transform: uppercase;
  color: #ffffff;
}
#header4-k P {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.075em;
  font-size: 23px;
  text-transform: uppercase;
}
#header3-d H3 {
  text-align: left;
  color: #252525;
}
#content1-e P {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#features1-q .mbr-section-title .mbr-header__text {
  text-align: center;
}
#features1-q P {
  text-align: center;
}
#msg-box1-14 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: left;
}
#msg-box1-14 .mbr-article {
  color: #fff;
}
#msg-box4-y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-8 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-8 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-8 .mbr-article {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-w .mbr-header__text {
  color: #ffffff;
}
#msg-box5-w .mbr-header__subtext {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-w .mbr-article {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-u .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-u .mbr-article {
  color: #252525;
}
#form1-6 .mbr-header__text {
  text-align: left;
}

#form1-6 input, textarea {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.cid-rBDgeR5fGV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-rBDgeR5fGV .content {
    text-align: center;
  }
  .cid-rBDgeR5fGV .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rBDgeR5fGV .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rBDgeR5fGV .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rBDgeR5fGV .media-wrap img {
  height: 12rem;
}
@media (max-width: 767px) {
  .cid-rBDgeR5fGV .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rBDgeR5fGV .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rBDgeR5fGV .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rBDgeR5fGV .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.6rem;
  color: #fff;
}
.cid-rBDgeR5fGV .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rBDgeR5fGV .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rBDgeR5fGV .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rBDgeR5fGV .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.mbr-text {
  font-style: normal;
  line-height: 1.6;
}

.display-7 h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.display-7 p {
  font-family: 'Open Sans', sans-serif;
}

.media-container-row p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
  
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}

